h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #880808;
    font-size: 50px;
}
.container{
    margin:10px 50px 10px 50px;
    padding: 20px 30px 20px 30px;
}
.gallery {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    align-items: start;
    display: grid;
}
.column{
    row-gap: 1em;
    grid-template-columns: minmax(0,1fr);
    display: grid;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

